{
    "presets":[
        "@babel/env",
        "@babel/react"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties",
            { "loose": true }
        ],
        [
            "@babel/plugin-proposal-private-methods",
            { "loose": true }
        ],
        "@babel/plugin-syntax-dynamic-import",
        [
            "module-resolver",
            {
                "extensions": [".js", ".jsx", ".ts", ".tsx", ".mjs"],
                "alias": {
                    "@src": "./src",
                    "@components": "./src/components",
                    "@containers": "./src/containers",
                    "@constants": "./src/constants",
                    "@style": "./src/style",
                    "@utils": "./src/utils",
                    "@utilsDev": "./src/utilsDev",
                    "@engine": "./src/gameEngine"
                }
            }
        ]
    ]
}
