.about
    margin: 0 30%
    text-align: center

    & > *
        padding: 30px 0

.me
    img
        max-width: 100%

.heroes
    h1
        font-size: 2rem

.hero
    position: relative
    margin: 20px 0
    display: flex
    justify-content: center
    align-items: center

    img
        position: absolute
        top: 0
        z-index: -1
        border-radius: 50%
        height: 100%
        opacity: .5

.bye
    font-size: 2rem
